* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 30px;
}

.grid div {
    background-color: lightgreen;
    min-height: 200px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}